PORT=3000
NODE_ENV=development

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE_EMAIL=email.queue
RABBITMQ_QUEUE_PUSH=push.queue
RABBITMQ_EXCHANGE=notifications.direct

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Other services
USER_SERVICE_URL=https://stage4-user-service.up.railway.app
TEMPLATE_SERVICE_URL=http://localhost:3004

# JWT (for future auth)
JWT_SECRET=your-secret-key-change-in-production
